* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    justify-items: center;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

.container-main {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(234, 205, 163, 0.65), rgba(214, 174, 123, 0.65)), url(/images/beans.jpg);
    background-size: cover;
    background-position: center;
} 

img {
    max-width: 100%;
    max-height: 100%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: sandybrown;
}  

.coffee_logo{
    width: 200px;
    cursor: pointer;
    margin-left: 80px;
    border-radius: 50%;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    font-size: 30px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
}

.hov_und_ani::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.hov_und_ani:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: black;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 25px;
    font-weight: bolder;
}

#myBtn:hover {
    background-color: #555;
}


.slideshow-container {
    width: 1000px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    padding: 2%;
}
  

.mySlides {
    display: none;
}

.mySlides img {
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 95%;
    padding: 16px;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-self: unset;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.menu_link {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    justify-self: center;
    justify-content: center;
    padding: 5%;
}

.link_container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.link_drinks, .link_food {
    display: inline-block;
    width: 400px;
    height: 550px;
    margin: 20px 3%;
    background-color: wheat;
    border: 3px solid black;
    padding: 50px;
    text-align: center;
}

.link_drinks a, .link_food a {
    text-decoration: none;
    color:  rgb(190, 72, 17);
}
.link_drinks a:hover, .link_food a:hover {
    text-decoration: underline;
    color:  rgb(190, 72, 17);
}

.about {
    background-color:rgba(207, 149, 74, 0.5);
    width: 100%;
    min-height: fit-content;
    padding: 50px;
    display: flex;
    margin: auto;
}

.aboutus_picture {
    margin: auto;
}

.aboutus_picture img {
    border-radius: 10px;
}

.aboutus_text {
    margin: 0 15px;
    text-align: justify;
    width: 400px;
}

.aboutus_text p {
    font-size: 25px;
}

.aboutus_text h1 {
    font-size: 35px;
}

.aboutus_text a {
    text-decoration: none;
    background-color: rgb(190, 72, 17);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
}
.aboutus_text a:hover {
    text-decoration: underline;
    background-color: rgb(190, 72, 17);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
}

footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    color: #717171;
    padding: 3% 7.5% 0 7.5%;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    line-height: 1.5;
    color: #717171;
}

.Copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 50px;
}

footer hr {
    color: #555;
    width: 40%;
    left: 0;
}


.ftrLink {
    display: flex;
    text-align: left;
    flex-direction: column;
    position: relative;
    left: 0;
}

.ftrSoc {
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    top: -150px;
    font-size: 1.3em;
}



footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    nav {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .coffee_logo {
        margin: 0;
    }
    nav ul {
        font-size: 20px;
        text-align: center;
        margin: auto;
        white-space: nowrap;
        margin-left: 4%;
    }
    .slideshow-container {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
    .prev, .next {
        padding: 10px;
    }
    .slideshow-container img {
        width: 95%;
        margin-right: 2%;
        object-fit: contain;
    }
    .menu_link {
        padding: 3%;
        text-align: center;
    }
    .link_drinks img {
        object-fit: contain;
    }
    .link_food img {
        object-fit: contain;
    }
    .link_drinks, .link_food {
        width: 350px;
        height: 485px;
        padding: 35px;
        margin: 15px 5%;
        font-size: 15px;
    }
    .about {
        display: block;
        padding: 20px;
    }
    .aboutus_picture {
        width: 70%;
        margin: auto;
    }
    .aboutus_text {
        margin: auto;
    }
    .aboutus_text p {
        font-size: 20px;
    }
    .aboutus_text h1 {
        font-size: 23px;
    }
    .aboutus_text a {
        white-space: nowrap;
    }
    .ftrSoc {
        margin-top: -5px;
    }
    .fa-brands {
        font-size: 1.1em;
    }
    .footer_link {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .coffee_logo {
        margin: 0;
    }
    nav ul {
        font-size: 15px;
        text-align: center;
        margin: auto;
        white-space: nowrap;
        margin-left: 4%;
    }
    .slideshow-container {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
    .prev, .next {
        padding: 10px;
    }
    .slideshow-container img {
        width: 95%;
        margin-right: 2%;
        object-fit: contain;
    }
    .menu_link {
        padding: 3%;
        text-align: center;
    }
    .link_container {
        width: 80%;
        margin-left: 8%;
    }
    .link_drinks img{
        object-fit: contain;
    }
    .link_food img{
        object-fit: contain;
    }
    .link_drinks, .link_food {
        width: 300px;
        height: 415px;
        padding: 35px;
        margin: 15px 5%;
        font-size: 12px;
    }
    .about {
        display: block;
        padding: 15px;
    }
    .aboutus_picture {
        width: 70%;
        margin: auto;
    }
    .aboutus_text {
        margin: auto;
    }
    .aboutus_text p {
        font-size: 15px;
    }
    .aboutus_text h1 {
        font-size: 18px;
    }
    .aboutus_text a {
        white-space: nowrap;
    }
    .fa-brands {
        font-size: 1.2em;
    }
    .footer_link {
        font-size: 1.0em;
    }
}

@media only screen and (max-width: 400px) {
    nav {
        display: block;
        justify-content: center;
        text-align: center;
    }
    .coffee_logo {
        margin: 0;
    }
    nav ul {
        font-size: 10px;
        text-align: center;
        margin: 0;
        white-space: nowrap;
        margin-left: 4%;
    }
    .slideshow-container {
        width: 100%;
        margin: 0 auto;
        padding: 2%;
    }
    .prev, .next {
        padding: 8px;
    }
    .slideshow-container img {
        width: 95%;
        margin-right: 2%;
        object-fit: contain;
    }
    .menu_link {
        padding: 2%;
        text-align: center;
    }
    .link_drinks img{
        object-fit: contain;
    }
    .link_food img{
        object-fit: contain;
    }
    .link_drinks, .link_food {
        width: 250px;
        height: 345px;
        padding: 20px;
        margin: 15px 5%;
        font-size: 10px;
    }
    .about {
        display: block;
        padding: 15px;
    }
    .aboutus_picture {
        width: 70%;
        margin: auto;
    }
    .aboutus_text {
        margin: auto;
    }
    .aboutus_text p {
        font-size: 12px;
    }
    .aboutus_text h1 {
        font-size: 15px;
    }
    .aboutus_text a {
        white-space: nowrap;
    }
    .fa-brands {
        font-size: 1.5em;
    }
    .footer_link {
        font-size: .8em;
    }
}
