* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    justify-items: center;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(234, 205, 163, 0.65), rgba(214, 174, 123, 0.65)), url(images/beans.jpg);
    background-size: cover;
    background-position: center;
} 
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: sandybrown;
}  
.coffee_logo{
    width: 150px;
    cursor: pointer;
    margin-left: 50px;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    font-size: 30px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

.slideshow-container {
    max-width: 1000px;
    min-width: 25%;
    position: relative;
    margin: 25px auto;
    text-align: center;
}
  

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 95%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    justify-self: unset;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.menu_link {
    text-decoration: none;
    background-color: white;
    width: 100%;
    min-height: 25%;
    justify-self: center;
    justify-content: center;
    padding: 5%;
}

.link_container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.link_drinks, .link_food {
    display: inline-block;
    margin: 20px 3%;
    background-color: wheat;
    border: 3px solid black;
    padding: 50px;
    text-align: center;
}

.about {
    background-color:rgba(207, 149, 74, 0.863);
    width: 100%;
    min-height: 25%;
    padding: 50px;
    display: flex;
    margin: auto;
}

.aboutus_text {
    font-size: 30px;
    margin: 0 auto;
    text-align: justify;
    width: 400px;
}

.aboutus_text a {
    text-decoration: none;
    background-color: rgb(190, 72, 17);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: rgb(230, 230, 230);
}
