html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
body {
    height: 3000px;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/images/menu_pics/background_menu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
/* FIRST HALF */
.collapsible-menu {
    position: relative;
}
  
.hamburger {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(166,106,46);
}
.hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.drinks_title1 {
    background-color: rgb(166,106,46);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 400px;
    height: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
    overflow: hidden;
    transition: max-height 0.3s;
}
.drinks_title1.collapsed {
    max-height: 0;
    padding: 0;
    border: none;
}
  
.drinks_title1.collapsed .choices {
    display: none;
}
.drinks_title1 h1 {
    font-size: 35px;
    margin: 130px 0px 10px 0px;
    height: 25px;
}
.drinks_title1 p {
    font-size: 18px;
    height: 10px;
}
.choices img {
    border-radius: 20px;
    border: 2px solid wheat;
}
.choices1:hover { 
    transform: scale(1.1);
}
.choices2:hover { 
    transform: scale(1.1);
}
.choices3:hover { 
    transform: scale(1.1);
}
.choices4:hover { 
    transform: scale(1.1);
}
/* SECOND HALF */
.drinks_title2 {
    margin-left: 10%;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    height: 100%;
}
.drinks_title2 a {
    text-decoration: none;
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: rgb(166,106,46);
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.drinks_title2 a:hover {
    background-color: wheat;
    color: rgb(166,106,46);
}
.nav_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.welcome {
    text-align: center;
    text-shadow: 0px 0px 30px black;
    height: 680px;
}
.welcome h1 {
    padding-top: 250px;
    font-size: 50px;
    height: 25px;
}
.welcome p {
    font-size: 20px;
    margin: 0px 50px 0px 50px;
    text-shadow: 0px 0px 30px black;
    position: center;
}
.bases p {
    font-size: 20px;
    height: fit-content;
    width: 1160px;
    padding-left: 120px;
    text-shadow: 0px 0px 30px black;
}
.drinks_title2 h2 {
    margin: 275px 0px 0px 0px;
    height: 25px;
    padding-left: 120px;
    text-shadow: 0px 0px 30px black;
    font-size: 40px;
}
.section {
    display: flex;
    width: 80%;
    margin-top: 10px 0px 20px 0px;
}
.for_section {
    display: flex;
    margin: 10px 0px 0px 110px;
    width: 400px;
    background-color: rgb(166,106,46);
    border-radius: 20px;
    border: 2px solid wheat;
    padding: 30px 0px 30px 30px;
}
.for_pic img{
    border-radius: 20px;
}
.for_text {
    margin-left: 20px;
    width: 500px;
}
.for_text h1 {
    font-size: 25px;
    height: 12px;
    margin-top: 10px;
}
.for_text h5 {
    font-size: 15px;
    height: 12px;
    margin-top: 10px;
}
.for_text h6 {
    font-size: 12px;
    height: 5px;
}
.for_text h3 {
    font-size: 18px;
    font-weight: bold;
    height: 10px;
}
.for_text a {
    text-decoration: none;
    font-size: 10px;
    border-radius: 10px;
    background-color: rgb(166,106,46);
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    margin-left: 225px;
}
.back_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.back_buttons nav {
    margin-top: 200px; 
}



@media (max-width: 768px) {
    
    html {
        scroll-padding: 5rem; 
    }
  
    body {
        flex-direction: column; 
        background-size: cover; 
    }
  
    
    .hamburger {
        top: 10px; 
        left: 10px; 
    }
  
    
    .drinks_title1 {
        position: fixed; 
        width: 95%; 
        max-height: 100vh; 
    }
    .drinks_title1 h1 {
        font-size: 20px; 
        margin: 50px 0 10px 0;
    }
    .drinks_title1 p {
        font-size: 14px; 
    }
  
    
    .choices img {
        width: 80%; 
        height: auto;
    }
  
    
    .drinks_title2 {
        margin-left: 0; 
        width: 100%; 
    }
    .drinks_title2 h2 {
        margin-left: 15px; 
    }
    .drinks_title2 a {
        display: block; 
        margin: 10px auto; 
        width: fit-content; 
    }
  
    
    .welcome {
        height: auto; 
    }
    .welcome h1 {
        font-size: 30px;
        padding-top: 150px;
    }
    .welcome p {
        margin-top: 50px;
        font-size: 16px;
    }
  
    
    .bases p {
        width: 100%; 
        padding-left: 15px;
    }
  
    
    .section {
        flex-direction: column; 
        width: 90%; 
        margin-top: 20px; 
    }
    .for_section {
        width: 100%;
        margin-left: 0;
    }
    .for_pic img {
        width: 200px; 
        height: auto;
    }
    .for_text {
        width: 100%; 
        margin-left: 5%;
    }
    .for_text h1 {
        font-size: 30px;
    }
    .for_text h5 {
        font-size: 14px;
    }
    .for_text h6 {
        font-size: 15px;
    }
    .for_text h3 {
        font-size: 25px;
    }
    .for_text a {
        margin-left: 15px;
    }
  
    
    .nav_buttons,
    .back_buttons {
        flex-direction: column; 
    }
  
    
}
